<div class="container">

  <div>
    <h1>Thanks! Rent confirmed!</h1>
    <hr>
  </div>

  <div class="row">
    <div class="box-rent col-md-7 col-xs-12">
      <p> <%= @rent.instrument.category %> of <%= @rent.instrument.user.name %></p>
      <hr>
      <div class="row">
        <div class="rent col-md-7" style="background-image: url(<%= @instrument.photo.url %>)">
        </div>
        <div class="description col-md-3" >
          <div>
            <p>Start: <%= @rent.start_date %> </p>
            <p>End: <%= @rent.end_date %> </p>
          </div>
          <hr>
          <div>
            <p><strong> Total value R$: <%= @rent.total_value %> </strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="all-rents col-md-4 col-xs-12" >
      <div>
        <p>All your rents</p>
        <div class="itens-rents">
          <ol>
            <% @all_user_rents.each do |rent| %>
            <li>
              <%= rent.instrument.category %> of <%= rent.instrument.user.name %> | Total R$: <%= rent.total_value %>
            </li>
            <% end %>
          </ol>
        </div>
        <div class="button">
          <p class="back"> <%= link_to "back to all", instruments_path %> </p>
        </div>
      </div>
    </div>
  </div>
</div>

