<div class="container">
  <div class="form-inst">
    <div>
    <%= simple_form_for @instrument do |f| %>
      <%= f.input :category, collection: ['drums', 'guitar', 'bass', 'violin', 'xylophone', 'keyboard', 'piano', 'cello', 'microphone'].sort %>
      <%= f.input :brand %>
      <%= f.input :description %>
      <%= f.input :condition, collection: ['new', 'used']%>
      <%= f.input :day_value %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <p></p>
      <%= f.submit %>
    <% end %>
   </div>
  </div>
</div>
