
<div class="container">

  <h1>Instruments</h1>

  <div>
    <ul>
      <% @instruments.each do |instrument| %>
      <li> <%= instrument.category %> </li>
      <li> <%= instrument.brand %> </li>
      <li> <%= instrument.description %> </li>
      <li> <%= instrument.condition %> </li>
      <li> <%= instrument.day_value %> </li>
      <p>-----------------------------------</p>
      <% end %>
    </ul>
  </div>
</div>
