<div class="container">
  <div class="container">
    <div class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Instruments", instruments_path %></li>
      <li class="breadcrumb-item"><%= link_to @instrument.category %></li>
    </div>

    <div class="row first">
      <div class="col-xs-6 col-md-6">
        <div class="image-container" style="background-image: url(<%= @instrument.photo.url %>)">
        </div>
        <% if @instrument.user != current_user %>
          <p> <%= link_to "Rent", new_instrument_rent_path(@instrument), class: "btn btn-success btn-block btn-lg" %> </p>
        <% end %>
      </div>

      <div class="details col-xs-6 col-md-6">
        <h1>Details</h1>
        <p><strong>Brand:</strong>  <%= @instrument.brand %></p>
        <p><strong>Description:</strong>  <%= @instrument.description %></p>
        <p><strong>Condition:</strong>  <%= @instrument.condition %></p>
        <p><strong>Day value R$:</strong>  <%= @instrument.day_value %></p>
      </div>

      <div>
        <% if @instrument.user == current_user %>
        <div class="buttons-current-user col-xs-6 col-md-6">
        <p> <%= link_to "Edit", edit_instrument_path(@instrument), class: 'btn btn-white' %>
          <%= link_to "Delete", instrument_path(@instrument), method: :delete, class: 'btn btn-white' %> </p>
        </div>
        <% end %>
      </div>
    </div>
<%= console %>

  </div>

  <div class="container profile">

      <div class="row row-img">
      <div class= "col-xs-12 col-md-3">
        <div id= "image-align">
          <%= cl_image_tag @instrument.user.photo, id: "avatar" %>
        </div>
      </div>

      <div class="profile-description-info col-xs-12 col-md-5">
        <h1><%= @instrument.user.name %> </h1>
        <p> <%= @instrument.user.email %> </p>
        <p> <%= @instrument.user.address %> </p>
      </div>

      <div class="profile-description col-xs-12 col-md-4">
        <p> Average rating:
          <% empty = 5 - @ave_review.to_i %>
          <% @ave_review.to_i.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% empty.times do %>
            <i class="far fa-star"></i>
          <% end %>



          </p>
      </div>
    </div>


  </div>

  <div class="container">
    <div class="itens-reviews col-xs-12 col-md-12">
      <div class="row">
        <div class="title-your-reviews col-xs-12 col-md-12">
          <h1>Reviews</h1>
        </div>

        <div class="reviews-list col-xs-12 col-md-11">
          <ul>
            <% @reviews.each do |review| %>
              <li>
               <%= review.content %> | <strong> # Rating: <%= review.rating  %> </strong> | <strong>Author: <%= review.author  %> </strong>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="data-signup col-xs-12 col-md-offset-4 col-md-4">
      <div>
        <% if @instrument.user != current_user %>
        <h1>Create Review</h1>
      </div>
          <div>
            <%= simple_form_for [@instrument, @review] do |f| %>
            <div class="two-grids">
              <%= f.input :author, placeholder: "Your name" %>
              <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
              <%= f.input :content %>
            </div>
              <%= f.submit "Create Review" %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>


